.support-articles {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.support-desc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    color: var(--gray);
}

.support-desc-img-hidden {
    display: none;
}

.support-items {
    width: 48%;
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 10px;
}

.support {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: var(--gray);
    border: 1px solid var(--gray);
}

.support p:first-child {
    color: var(--white);
}

.heading.ask {
    margin-top: 40px;
}

.card-icon,
.bit-icon {
    display: inline-block;
}

.card-icon {
    margin-right: 10px;
}

.bit-icon {
    width: 28px;
    position: relative;
    top: 5px;
    left: -6px;
}

.h-line.ask {
    width: 240px;
}

form {
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input,
textarea {
    padding: 7px 10px;
    background-color: var(--background);
    border: none;
    border: 1px solid var(--gray);
}

.name-email {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.name-email input:first-child, 
.name-email input:last-child {
    width: 48%;
}

textarea {
    height: 250px;
}

.btn.ask {
    width: 80px;
}

.ask-me {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ask-img-down {
    margin-top: 50px;
}