@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap');

:root {
    --primary: #C778DD;
    --gray: #ABB2BF;
    --background: #282C33;
    --white: #FFFFFF;
}

body {
    background-color: var(--background);
    font-family: "Fira Code", "Fira Mono", "Roboto Mono";
}

.container {
    width: 1024px;
}

.white-text {
    color: var(--white);
}

.purple-text {
    color: var(--primary);
}

/* -------
  HEADER
---------*/

nav {
    font-size: medium;
    width: 1024px;
    height: 61px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.logo-wrapper {
    height: auto;
    display: flex;
}

.logo {
    width: 21px;
    height: 21px;
    margin-right: 9px;
}

.logo-title {
    color: var(--white);
    font-weight: bold;
}

.menu-items {
    display: flex;
}

.items:not(:first-child) {
    margin-left: 35px;
  }

.items a {
    color: var(--gray);
}

/* ----------------
  HERO SECTION
-----------------*/

.hero {
    width: 1024px;
    margin: auto;
    margin-top: 61px;
    margin-bottom: 112px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.hero-desc {
    width: 537px;
}

.up-desc {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 40px;
}

.down-desc {
    color: var(--gray);
    margin-bottom: 24px;
    width: 463px;
}

.btn {
    background-color: var(--background);
    color: var(--white);
    padding: 5px 10px;
    border: 1px solid var(--primary);
    cursor: pointer;
}

.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-img-desc {
    width: 400px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 6px;
    border: 1px solid var(--gray);
}

.text-wrapper {
    display: inline-flex;
}

.img-text-1 {
    color: var(--gray);
    margin-right: 10px;
}

.img-text-2 {
    color: var(--white);
    font-weight: bold;
}

.purple-cube{
    display: inline-flex;
    width: 16px;
    height: 16px;
    background-color: var(--primary);
}

/* ---------------
  QUOTES SECTION
---------------- */

.quotes {
    display: flex;
    justify-content: end;
    gap: 246px;
    color: var(--white);
}

.quotes-desc {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.quotes-text {
    padding: 30px;
    font-size: 24px;
    display: inline-flex;
    border: 1px solid var(--gray);
}
.quotes-author {
    padding: 15px;
    font-size: 24px;
    display: inline-flex;
    border-left: 1px solid var(--gray);
    border-right: 1px solid var(--gray);
    border-bottom: 1px solid var(--gray);

}

.empty-cube {
    width: 82px;
    height: 90px;
    border-left: 1px solid var(--gray);
    border-top: 1px solid var(--gray);
    border-bottom: 1px solid var(--gray);
}

.quotes-img-wrapper-up,
.quotes-img-wrapper-down {
    position: absolute;
    width: 42px;
    height: 30px;
    background-color: var(--background);
}

.quotes-img-wrapper-up {
    left: 10px;
    top: -12px;
}

.quotes-img-wrapper-down {
    right: 10px;
    top: 85px;
}

.quotes-img {
    margin-left: 7px;
}

/* ------------
  PROJECTS 
-------------*/

.projects {
    margin-top: 72px;
    margin-bottom: 112px;
    display: flex;
    justify-content: space-between;
}

.left-site-dots {
    margin-top: 72px;
}

.heading-wrapper {
    margin-bottom: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heading {
    display: flex;
    font-size:32px;
    font-weight: 500;
    align-items: center;
}

.h-line {
    width: 511px;
    height: 1px;
    margin-left: 12px;
    display: inline-block;
    background-color: var(--primary);
    border: none;
}

.view-all-text {
    color: var(--white);
}

.projects-cards {
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    width: 331px;
    border: 1px solid var(--gray);
}

.pr-img-desc {
    padding: 6px;
    color: var(--gray);
    border-bottom: 1px solid var(--gray);
}

.pr-img-desc p{
    line-height: 36px;
}

.pr-title-wrapper {
    padding: 15px;
}

.pr-title {
    margin-bottom: 18px;
    color: var(--white);
    font-size: 24px;
    line-height: 30px;
}

.pr-desc {
    margin-bottom: 15px;
    color: var(--gray);
}

.right-empty-react {
    width: 68px;
    height: 154px;
    margin-top: 250px;
    border-left: 1px solid var(--gray);
    border-top: 1px solid var(--gray);
    border-bottom: 1px solid var(--gray);
}

.arrow {
    letter-spacing: -2px;
}

/* ----------------
  SKILLS SECTION
----------------- */
.container.skills {
    margin: auto;
}

.heading-wrapper.skills {
    margin-bottom: 30px;
}

.h-line.skills {
    width: 230px;
}

.skill-items-wrapper {
    display: flex;
    justify-content: space-between;
}

.skill-img {
    width: 350px;
}

.skill-lng {
    width: 584px;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    align-content: start;
    align-items: start;
    gap: 18px;
}

.skill-articles {
    width: 175px;
    border: 1px solid var(--gray);
}

.skill-articles.width {
    width: 194px;
}

.frame {
    margin-top: -24px;
}

.skill-title {
    padding: 10px;
    color: var(--white);
    border-bottom: 1px solid var(--gray);
}

.skill-desc {
    padding: 10px;
    color: var(--gray);
}

/* -----------------
  ABOUT ME SECTION
------------------ */

.about-me {
    margin-top: 110px;
    display: flex;
    justify-content: space-between;
}

.about-items {
    display: flex;
    justify-content: space-between;
}

.h-line.about {
    width: 325px;
}

.about-desc-wrapper {
    width: 516px;
}

.about-img-wrapper {
    margin-top: -75px;
}

.about-desc {
    color: var(--gray);
}

.about-desc p {
    margin-bottom: 30px;
}

.right-dots-img {
    margin-top: 315px;
}

.left-empty-react {
    width: 78px;
    height: 152px;
    margin-top: 165px;
    border-top: 1px solid var(--gray);
    border-right: 1px solid var(--gray);
    border-bottom: 1px solid var(--gray);
}

/* --------------
    CONTACTS
--------------- */

.contacts {
    margin-top: 112px;
    display: flex;
    justify-content: space-between;
}

.contacts-img-wrapper {
    margin-top: 105px;
}

.contacts-desc-wrapper {
    display: flex;
    justify-content: space-between;
}

.contacts-desc {
    width: 506px;
    color: var(--gray);
}

.message {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: var(--gray);
    border: 1px solid var(--gray);
}

.msg-img-wrapper {
    display: flex;
    gap: 5px;
    align-items: center;
}

.msg-img-wrapper,
.msg-title {
    display: inline-flex;
}

.msg-title {
    color: var(--white);
}

.contacts-empty-react {
    width: 68px;
    height: 100px;
}

/* -----------
    FOOTER
-------------*/

footer {
    margin-top: 145px;
    padding: 30px 0;
    border-top: 1px solid var(--gray);
}

.container.ft {
    margin: auto;
}

.footer-items {
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
}

.ft-logo {
   width: 16px;
   height: 16px;
   margin-right: 10px;
   display: inline-block;
}

.logo-name {
    margin-right: 20px;
}

.footer-desc {
    color: var(--gray);
}

.ft-desc-up{
    margin-bottom: 15px;
}

.media-title h3 {
    margin-bottom: 15px;
    font-size: 24px;
    font-weight: 500;
    color: var(--white);
}

.media-icons img {
   display: inline-block;
}

.footer-bottom {
    text-align: center;
    color: var(--gray);
}



  


