RewriteEngine On

# Redirect /home to index.html
RewriteRule ^home$ /index.html [L,R=301]

# Redirect /about-me to about-me.html
RewriteRule ^about-me$ /about-me.html [L,R=301]

# Ensure / redirects to /index.html
RewriteRule ^$ /index.html [L]

# Rewrite rule to remove .html extension from URLs
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html [L]
