RewriteEngine On

# Redirect /home to index.html
RewriteRule ^home$ /index.html [L,R=301]

# Ensure / redirects to /index.html
RewriteRule ^$ /index.html [L]

# Redirect URLs ending with .html to their extensionless counterparts
RewriteCond %{THE_REQUEST} \s/([^.]+)\.html [NC]
RewriteRule ^ /%1 [R=301,L]

# Rewrite rule to serve .html files for extensionless URLs
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^([^.]+)$ $1.html [L]
